<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Hex Game</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <style>
      html {
        font-family: 'Courier New', Courier, monospace;
      }

      .lastResult {
        color: #282a36;
        padding: 3px;
      }
    </style>
  </head>

  <body style = "background-color:#282a36">
    <h2 style = "color:#f8f8f2;">Time elapsed : </h2>
    <h2 style = "color:#f8f8f2;">Pieces on board : </h2>    
    <div id="timer" class="timer" onload="startTimer"></div>
    <div id="takenNumber">00:00:00</div>
    <div class = "hexagon" id ="player1"></div>
    <div class = "hexagon" id = "playe2"></div>
    <div class = "hexagons">
        <object id="board" data="/images/board.svg">board</object>
    </div>
    <script src = '/javascripts/game.js'>
    </script>
  </body>
</html>
