<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1">
    <title>Hex Game</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/game.css">
</head>
<body>
    <div class="resolutionErr">The resolution of your screen is too low.</div>
    <header>
        <span id="player1" class="name hasTurn"></span>
        <span class="hexagon red"><span></span></span>
        <span id="statistics">
            <span id="timer">Time Elapsed : 00:00</span>
            <span id="takenNum">Pieces on Board : 00</span>
        </span>
        <span class="hexagon green waiting"><span></span></span>
        <span id="player2" class="name"></span>
    </header>
    <main class="hexagons">
        <object class = "boardSVG" id="boardSVG" data="/images/board.svg">board</object>
    </main>
    <div class="notification">
        <div id="spin"><div id="breath" class="hexagon"><span></span></div></div>
        <span class="notify" id="notify"></span>
    </div>
    <script src="/javascripts/game.js"></script>
</body>
</html>
