<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Play</title>
    <style>
        body {
            width: 50%;
            max-width: 1000px;
            min-width: 480px;
            margin: 0 auto;
        }
        .description{
            color : #f8f8f2;
            font-size: large;
            font-family : 'Courier New', Courier, monospace;
        }
        .instructions{
            text-align : center; 
            color : #f1fa8c;
            font-family : 'Courier New', Courier, monospace;
        }
        .link:link{
            font-family : 'Courier New', Courier, monospace;
            color : #bd93f9;
        }
        .link:visited{
            color : #bd93f9;
        }
        .link:active{
            color : #f1fa8c;
        }

    </style>
</head>
<body style = "background-color:#282a36">
    <h1 class = "instructions">How To Play The Game</h1>
    <p class = "description">
        In order to win the game, connect opposite sides of the board using tiles of your assigned color. 
        <br>
            The first player is always assigned red, and the second player is green. 
        <br>
            Hexagons on the opposite sides of the board have been outlined in either red or green, this will 
        guide you which 2 sides of the board you have to connect using your tiles.        
    </p>
    <a class= "link" href="https://en.wikipedia.org/wiki/Hex_(board_game)">Click here to learn more</a>
</body>
</html>

