<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dracula Hex</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/how-to-play.css">
</head>
<body>
    <h1>How To Play The Game</h1>
    <main>
        <p>In order to win the game, connect opposite sides of the board using tiles of your assigned color.</p>
        <p>The first player is always assigned red, and the second player is green.</p>
        <p>Hexagons on the opposite sides of the board have been outlined in either red or green, this will guide you which 2 sides of the board you have to connect using your tiles.</p>    
        <p>Click <a class="link" href="https://en.wikipedia.org/wiki/Hex_(board_game)">here</a> to learn more</p>
        <p><a class="link" href="/">Back to the home screen</a></p>
    </main>
</body>
</html>
