<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Play</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body style = "background-color:#282a36">
    <h1 class = "instructions">How To Play The Game</h1>
    <p class = "description">
        In order to win the game, connect opposite sides of the board using tiles of your assigned color. 
        <br>
            The first player is always assigned red, and the second player is green. 
        <br>
            Hexagons on the opposite sides of the board have been outlined in either red or green, this will 
        guide you which 2 sides of the board you have to connect using your tiles.    
        <a class= "link" href="https://en.wikipedia.org/wiki/Hex_(board_game)">Click here to learn more</a>    
    </p>
</body>
</html>
