<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dracula Hex</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/splash.css">
</head>
<body>
    <header>
        <img src="images/logo.svg" alt="HEX Logo" alt="HEX">
    </header>
    <main>
        <section class="play">
            <a href="/play"><image src="images/play.svg" alt="Play"></a>
        </section>
        <section class="statistics">
            <span>
                Players Online
                <span class="hexagon">
                    <span><%= playersOnline %></span>
                </span>
            </span>
            <span>
                Win Rate of Red
                <span class="hexagon">
                    <span><%= relativeWinsRed %></span>
                </span>
            </span>
            <span>
                Games Played
                <span class="hexagon">
                    <span><%= gamesPlayed %></span>
                </span>
            </span>
        </section>
        <section class="help">
            <a href="/how-to-play"><img src="images/help.svg" alt="Help"></a>
        </section>
    </main>
</body>
</html>
