<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex</title>
    <link rel="stylesheet" href="stylesheets/splash.css">
</head>
<body>
    <header>
        <object data="images/logo.svg" alt="HEX Logo">Logo</object>
    </header>
    <main>
        <section id="playSection">
            <object class = "play" id="play" data="images/play.svg">Play</object>
        </section>
        <section id="statsSection">
            <span>
                Players Online
                <span>
                    <%= playersOnline %>
                </span>
            </span>
            <span>
                Win Rate of Red
                <span>
                    <%= relativeWinsRed %>
                </span>
            </span>
            <span>
                Games Played
                <span>
                    <%= gamesPlayed %>
                </span>
            </span>
        </section>
        <section id="howToSection">
            <object id="help" data="images/help.svg">Help</object>
        </section>
    </main>
</body>
</html>
