.resolutionErr {
    display: none;
}

@media (max-width: 1000px) , (max-height: 500px) {
    .resolutionErr{
        padding: 3vh;
        background-color: #ff5555;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color : #f1fa8c;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family : 'Courier New', Courier, monospace;
        z-index: 10;
    }
}

.notification {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spin {
    animation-name : spin;
    animation-duration : 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    margin-right: 1.5vh;
}

.hexagon#breath {
    --width: 2.5vh;
    background-color: currentColor;
    animation-name : breath;
    animation-duration : 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

header {
    margin-top: 7vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 2vh;
}

header > span {
    margin: 0 3vh;
}

header .hexagon {
    --width: 10vh;
    display: inline-block;
    background-color: currentColor;
}

header .name {
    font-size: 3vh;
    font-weight: bold;
}

.waiting {
    transform: scale(0.95);
    transition: 0.3s;
    opacity: 50%;
}

.hasTurn {
    transform: scale(1.05);
    transition: 0.3s;
}

.notify {
    font-size: 3vh;
    font-weight: bold;
}

main {
    position: relative;
    height: 65vh;
}

.red {
    color: #ff5555;
}

.green {
    color: #50fa7b;
}

#statistics {
    margin: 0 6vh;
    transition: 0.5s;
}

#statistics * {
    display: block;
}

#statistics:hover {
    color: #f1fa8c;
    transform: scale(1.2);
    transition: 1s;
}

#statistics:active {
    color: #ff79c6;
}

@keyframes breath {
    0%   { color: #6272a4; transform: scale(1.0); }
    25%  { color: #8be9fd; transform: scale(1.1); }
    50%  { color: #50fa7b; transform: scale(1.2); }
    75%  { color: #ff79c6; transform: scale(1.1); }
    100% { color: #6272a4; transform: scale(1.0); }
}

@keyframes spin {
    0%   { transform: rotate(  0deg); }
    100% { transform: rotate(360deg); }
}
