header {
    margin-top: 10vh;
    height: 20vh;
}

main img {
    transition: 0.2s;
    transform-origin: 50% 50%;
}

main img:hover {
    transform: scale(1.05);
    filter: hue-rotate(-80deg) saturate(1.1) brightness(1.1);
}

main {
    height: 60vh;
    margin-bottom: 10vh;
}

img {
    height: 100%;
}

.play {
    height: 30vh;
}

.statistics {
    min-height: 15vh;
    font-weight: bold;
}

.help {
    height: 15vh;
}

.statistics > * {
    margin-left: 1.5em;
    margin-right: 1.5em;
    line-height: 15vh;
    display: inline-block;
}

.hexagon {
    --width: 3.5em;
    display: inline-block;
    line-height: 2em;
    margin: 0 0 0 1em;
    top: 0.65em;
}
