.play:hover,
.play:focus {
  filter: invert(27%) 
  sepia(51%) 
  saturate(2878%) 
  hue-rotate(346deg) 
  brightness(104%) 
  contrast(97%);
}

.body {
  width: 50%;
  max-width: 1000px;
  min-width: 480px;
  margin: 0 auto;
  text-align: center; 
}
.description{
  color : #f8f8f2;
  font-size: large;
  width: 55%;
  max-width: 1300px;
  min-width: 600px;
  margin: 0 auto;
  text-align: center; 
  font-family : 'Courier New', Courier, monospace;
}
.instructions{
  text-align : center; 
  color : #f1fa8c;
  font-family : 'Courier New', Courier, monospace;
}
.link:link{
  width: 55%;
  font-family : 'Courier New', Courier, monospace;
  color : #bd93f9;
}
.link:visited{
  width: 55%;
  text-align: center; 
  color : #bd93f9;
}
.link:active{
  width: 55%;
  text-align: center; 
  color : #f1fa8c;
}
