html {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    color: #F8F8F2;
    text-align: center;
    background-color: #282A36;
    background-image: url(/images/background.svg);
    background-size: cover;
    background-position: center;
}

a:link {
    color : #bd93f9;
}

a:active {
    color : #f1fa8c;
}

a:visited {
    color : #bd93f9;
}

object {
    width: 100%;
    height: 100%;
}

/* inspired by http://brenna.github.io/csshexagon/ */
.hexagon {
    --width: 348px;
    position: relative;
    width: var(--width); 
    height: calc(var(--width) / 1.73205080757); /* width / sqrt(3) */
    background-color: #44475a;
    margin: calc(var(--width) / 1.73205080757 / 2) 0; /* width / sqrt(3) / 2 */
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: calc(var(--width) / 1.41421356237); /* width / sqrt(2) */
    height: calc(var(--width) / 1.41421356237); /* width / sqrt(2) */
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: calc((var(--width) - (var(--width) / 1.41421356237)) / 2);
    box-shadow: inherit;
}

.hexagon:before {
    top: calc(-1 * var(--width) / 1.41421356237 / 2);
}

.hexagon:after {
    bottom: calc(-1 * var(--width) / 1.41421356237 / 2);
}

.hexagon span {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: var(--width);
    height: calc(var(--width) / 1.73205080757); /* width / sqrt(3) */
    z-index: 2;
    background: inherit;
}
